.barra {
    
    width: 100%;
    height: 150px;
    flex: start;
    justify-content: space-around;
    
    background-color: rgb(33, 19, 50);
    a{
        color: white;
        text-decoration: none;
    }
}

.barra button {
    margin-left: 1rem;
}

img{
    width: 250px;
}

.row{
    padding-right: 0px;
}

.carrito{
    width: 90px;
    align-self: center;
}

.cartnumber{
    font-size: 1rem;
    color: white;
}