.imgdetail{
    width: 350px;
    height: auto;
    border-radius: 17px 17px 17px 17px;
}
.backgroundcard{
    background-color: rgb(33, 19, 50);
}
h2{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5rem;
    padding: 5px;
    color: white;
}
.white{
    color: white;
}
h4{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    padding: 5px;
    color: white;
}
span{
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 10px;
}

#agregarcarro{
    margin-top: 15px;
    margin-left: 10px;
}

#cantidad{
    margin-left: 10px;
}